@model IEnumerable<Author>

<a class="btn btn-success mt-5" style="margin: 10px" asp-controller="Author" asp-action="Create">Create new author</a>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Books count</th>
            <th>View book list</th>
            <th>Edit author</th>
            <th>Delete author</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <td>@author.AuthorId</td>
                <td>@author.Name</td>
                <td>@author.Books?.Count </td>
                @if (author.Books?.Count == 0)
                {
                    <td><a class="btn btn-default" asp-area="" >View book list</a></td>
                }
                else
                {
                    <td><a class="btn btn-info" asp-area="" asp-controller="Book" asp-action="List" asp-route-authorId="@author.AuthorId">View book list</a></td>
                }
                <td><a class="btn btn-info" asp-area="" asp-controller="Author" asp-action="Update" asp-route-id="@author.AuthorId">Edit</a></td>
                <td><a class="btn btn-danger" asp-area="" asp-controller="Author" asp-action="Delete" asp-route-id="@author.AuthorId">Delete</a></td>
            </tr>
        }
    </tbody>
</table>